/* Hero Section */
.hero-section {
  background: url('assets/images/hotel9.avif') no-repeat center center/cover;
  color: white;
  padding: 100px 0;
  margin-top: 50px;
}

.navbar_html{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px;
  background: rgba(255, 255, 255, 0.1); /* Transparent white */
  backdrop-filter: blur(10px); /* Blur effect */
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Soft border */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  transition: 0.3s ease-in-out;
  z-index: 100;
}

.nav-link{
  color: black;
  text-decoration: none;
  padding: 10px 15px;
  font-weight: bold;
  transition: 0.3s;
}
.nav-link:hover{
  color: white;
}
.navbar_html.solid {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}



.hero-section h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hero-section p {
  font-size: 1.5rem;
}


.search-form {
  max-width: 600px;
  margin: 0 auto;
}

/* Hotel Cards */
.hotel-section {
  padding: 50px 0;
}


.card {
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: perspective(500px) rotateY(5deg);
}


.card-img-top {
  
  height: 200px;
  /* object-fit: cover; */

}
#searchLocation{
  width: 400px;
  padding: 6px;
  padding-left: 14px;
  border: none;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.search-form button{
  padding: 6px 0px;
  border-radius: 8px;
  border: none;
  /* background: #007bff; */
  background: rgba(255, 255, 255, 0.15);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  width: 120px;
  margin-bottom: 6px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* margin-top: 10px; */
}

/* Footer */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

@media (max-width: 431px) {
  .search-form button{
    margin-top: 20px;
  }
  #searchLocation{
    margin: auto;
  }
}